@import "tailwindcss";

:root {
  --font-monda: "Monda", system-ui, sans-serif;
  --background: #111316;
  --foreground: #F3FFFF;
  /* text */
  --primary: #EC4443;
  --secondary: #245FAE;
  --muted: #c8e6f963;
  --green: #01BD76;
  --error: var(--red-500);
  --yellow: #FFF153;
  --grey: #47e81bde;


  /* LIGHT THEME */
  /* --font-monda: "Monda", system-ui, sans-serif;
  --background: #F3FFFF;
  --foreground: #152845; */
  /* text */
  /* --primary: #EC4443;
  --secondary: #245FAE;
  --muted: #C8E6F9;
  --green: #01BD76;
  --error: var(--red-500);
  --yellow: #FFF153; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-monda: var(--font-monda);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --font-monda: "Monda", system-ui, sans-serif;
    --background: #111316;
    --foreground: #F3FFFF;
    /* text */
    /* --primary: #EC4443;
    --secondary: #245FAE;
    --muted: #c8e6f963;
    --green: #01BD76;
    --error: var(--red-500);
    --yellow: #FFF153;
    --grey: #47e81bde;
  } */

  /* body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
} */ 

/* animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1.8s infinite;
}

/* to prevent code blocks from not wrapping */
pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  max-width: 100%;
}

.heatmap-cell {
  transition: background-color 3s ease-out; /* only applies when leaving hover */
}

.heatmap-cell:hover {
  background-color: var(--yellow);
  cursor:pointer;
  transition: none; /* instant change on hover */
}